Config { font = "xft:FreeMono:pixelsize=15:antialias=true:=hinting=true"
       , additionalFonts = []
       , bgColor = "#282c34"
       , fgColor = "#ff6c6b"
       , position = Top
       , lowerOnStart = True
       , hideOnStart = False
       , persistent = True
       , iconRoot = "."
       , allDesktops = True
       , commands = [
               -- date
	       Run Date "<fn=1>\xf133</fn> %b %d %Y (%H:%M)" "date" 50
       , Run Cpu ["-t", "<fn=1>\xf108</fn> cpu: (<total>%)","-H","50","--high","red"] 20
                      -- Ram used number and percent
                    , Run Memory ["-t", "<fn=1>\xf233</fn> mem: <used>M (<usedratio>%)"] 20
                      -- Disk space free
                    , Run DiskU [("/", "<fn=1>\xf0c7</fn> hdd: <free> free")] [] 60
		    , Run Com "uname" ["-r"] "" 3600
                      -- Prints out the left side items such as workspaces, layout, etc.
                      -- The workspaces are 'clickable' in my configs.
                    , Run UnsafeStdinReader

             ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "</fc> %UnsafeStdinReader% }{ <fc=#666666><fn=2>|</fn> </fc><fc=#b3afc2><fn=1></fn>  %uname% </fc><fc=#666666> <fn=2>|</fn></fc> <fc=#ecbe7b> %cpu% </fc><fc=#666666> <fn=2>|</fn></fc> <fc=#ff6c6b> %memory% </fc><fc=#666666> <fn=2>|</fn></fc> <fc=#51afef> %disku% </fc><fc=#666666> <fn=2>|</fn></fc> <fc=#98be65> </fc><fc=#666666> <fn=2>|</fn></fc><fc=#46d9ff> %date%  </fc>"
       }
